@import "./partials/colors";
@import "./partials/font";

// header style
.header_area {
  font-family: $myFont-2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
  .items {
    background: #fb7181;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    height: 20px;
    width: 20px;
    font-family: $myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    left: 10px;
  }
}

// navbar style
.navbar_area {
  .title {
    font-family: $myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
  }
  .nav_items {
    .nav_item {
      font-family: $myFont;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #262626;
      text-transform: uppercase;
    }
    .active {
      color: $primary;
    }
  }
}

//offer banner landing page style

.banner_section {
  // padding: 211px 0px;
  height: 653px;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
  .banner_title {
    font-family: $myFont;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
}

// banner product section

.banner_product {
  position: absolute;
  width: 100%;
  bottom: -42%;
  .card {
    padding: 20px 40px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    width: 100%;
    height: 358px;

    .title {
      font-family: $myFont;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #223263;
      width: 202px;
    }
    .prev_price {
      font-family: $myFont;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.5px;
      text-decoration-line: line-through;
      color: #9098b1;
    }
    .discount {
      font-family: $myFont;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #fb7181;
    }
    .price {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 180%;
      letter-spacing: 0.5px;
      color: #40bfff;
    }
  }
  .first_card {
    .discount_area {
      bottom: 60px;
    }
    .price {
      bottom: 15px;
      right: 45px;
    }
  }
  .second_card {
    .discount_area {
      bottom: 28px;
      left: 35%;
    }
  }
  .third_card {
    .discount_area {
      padding-top: 5px;
    }
    .price {
      bottom: 15px;
      right: 45px;
    }
  }
}
// best seller products section

.best_seller_section {
  .section_title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #22262a;
  }
  .tab_area {
    .tab_item {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 33px;
      color: #262626;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        transition: 0.6s;
      }
      &:hover:after {
        position: absolute;
        content: "";
        height: 4px;
        bottom: -6px;
        left: 0;
        width: 100%;
        background: #33a0ff;
      }
    }
  }
  .active {
    color: #33a0ff !important;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      bottom: -6px;
      left: 0;
      width: 100%;
      background: #33a0ff;
      transition: 0.5s;
    }
  }
}

// product card

.card {
  box-shadow: 0px 1px 13px 3px #fbfbfb;

  .card_image {
    cursor: pointer !important;

    &:hover .add_card {
      opacity: 0.95;
    }
  }

  .add_card {
    top: 16px;
    width: 310px;
    height: 290px;
    background: #ffffff;
    opacity: 0;
    transition: all 0.6s;
    left: 19px;
    border-radius: 5px;
  }

  .card_body {
    padding: 17px 25px;
    .h_text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
    .card_title {
      @extend .h_text;
      color: #223263;
      line-height: 150%;
    }
    .card_price {
      @extend .h_text;
      color: #40bfff;
      line-height: 180%;
    }
    .prev_dis {
      font-family: "Poppins";
      font-style: normal;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5px;
    }
    .prev_price {
      @extend .prev_dis;
      text-decoration-line: line-through;
      font-weight: 400;
      color: #9098b1;
    }
    .discount {
      @extend .prev_dis;
      font-weight: 700;
      color: #fb7181;
    }
  }

  .favorite {
    padding: 15px;
    border: 2px solid #33a0ff;
    border-radius: 50%;
    transition: 0.5s;
    svg {
      fill: #33a0ff;
      transition: 0.5s;
    }
    &:hover {
      background: #33a0ff;
    }

    &:hover svg {
      fill: #ffffff;
    }
  }
}

// footer section
.footer_section {
  background: #bcddfe;
  .title {
    font-family: "Poppins";
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #22262a;
    &_logo {
      @extend .title;
      font-weight: 700;
    }
    &_sub {
      @extend .title;
      font-weight: 500;
    }
    &_another {
      @extend .title;
      font-weight: 400;
    }
  }

  .content {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #22262a;
  }

  .item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
  }
}
